* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

hr{
  margin: 12px 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 24px;
  padding-left: 8px;
}

.sidebar {
  grid-row: 1 / 5;
  background-color: #007bff;
  color: white;
  padding: 24px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 2;
  grid-row: 2 / 5;
  background-color: lightgrey;
}

.search-bar {
  grid-column: 1 / 2;
}

.search-bar input {
  outline: none;
}

.header-icons {
  grid-column: 2 / 3;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: bold;
  margin-right: 160px;
}

.buttons {
  grid-column: 2 / 3;
}

.buttons button {
  margin-right: 16px;
  padding: 8px 12px;
  width: 20%;
  border: none;
  border-radius: 16px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.user-info {
  grid-column: 1 / 2;
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  font-weight: bold;
}

.user-info .profile-pic {
  grid-row: 1 / 3;
}
.greeting {
  grid-column: 2 / 3;
}
.user-info .user-name {
  font-size: 32px;
}

.card .title {
  font-weight: bold;
}

.card-announcements .title {
  font-weight: bold;
}

.trending {
  grid-column: 2 / 3;
}

.projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3, 3fr);
}

.project-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 15px;
}

.projects .card {
  margin: 12px;
  padding: 16px;
  border-left: orange 8px solid;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects .icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
  margin: 32px;
}

.trending .icon {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 8px;
}

.search-bar input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-left: 16px;
  background-color: lightgrey;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 36px;
  margin-left: 16px;
}

.nav-menu {
  margin-bottom: 36px;
  margin-left: 16px;
}

.nav-menu-bottom {
  margin-left: 16px;
}

.card-announcements .card {
  margin: 12px;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trending .card {
  margin: 12px;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
